################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/Template/obj
/CurvedStick/obj/Debug/net4.8
/CurvedStick/bin/Release/net4.8
/CurvedStick/obj/Release/net4.8
/CurvedStick/obj
/ServerBrowserVerificator/bin/Release/net4.8
/ServerBrowserVerificator/obj
/AntiCheat/bin/Release/net4.8
/AntiCheat/obj
/BetterGoalTriggers/obj
/BetterGoalTriggers/bin/Debug/net4.8
/BetterGoalTriggers/bin/Release/net4.8
